<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="DatabaseEntities" connectionString="metadata=res://*/Database.DatabaseModel.csdl|res://*/Database.DatabaseModel.ssdl|res://*/Database.DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.6.1.190;initial catalog=26139;user id=26139;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="databaseEntities" connectionString="metadata=res://*/Database.DatabaseModel.csdl|res://*/Database.DatabaseModel.ssdl|res://*/Database.DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=chesss.database.windows.net;initial catalog=chessSql;user id=laptin;password=Qwerty777;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>